<nav class="teal darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center"> Mohid's Portfolio</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a class="waves-effect waves-light btn-large red darken-3" href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<style>
nav {
    width: 100vw;
}
</style>