<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

<div class="intro">
	<h1>Welcome, {{name}}.<br>
	I'm Mohid and I am a Web Developer</h1>
	<br>
	<h6>Front End/ MEAN Stack Developer</h6>
</div>

{{#if projects}}

<div class="parallax-container">
      <div class="parallax"><img src="/images/back.jpg" alt="background" width="180"></div>
</div>

<div class="section pink lighten-3">
	<div class="row container">
		<h2 class="header">Project Wall</h2>
        <p class="white-text text-darken-3 lighten-3">
        	These are the projects that I undertook over the years.
            All of these projects are independant projects that I designed and developed from scratch by myself.
        </p>
    </div>
</div>

<div class="parallax-container">
    <h2 class="proj">
    	<a class="link modal-trigger" href="#modal1">
    		IST-NAV
        </a>
    </h2>
    <h2 class="proj">ANIMETOGRAPHY</h2>
    <div class="parallax"><img src="/images/wall.jpg" alt="rain"></div>
</div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content red lighten-1">
    	<h4>IST-NAV</h4>
    	<div class="divider"></div>
    	<br>
    	<img src="/images/nav.png" style="width: 80%;">
        <p>IST-NAV is a web based routing and navigation application developed for the Institute of Space Technology, Islamabad. The purpose of the application is to provide routing and navigation services "within" the Institute itself, something that Google Maps or other mapping services do not provide. I developed the front end of the application using HTML/CSS/JS along with some jQuery and Bootstrap. For the backend I used PostgreSQL, GeoServer and for the web map I used LeafletJS</p>
    </div>
    <div class="modal-footer pink darken-4">
      <a href="https://mohid123.github.io/" target="_blank" class="modal-close waves-effect waves-green btn-flat white-text">DEMO</a>
      <a href="https://github.com/Mohid123/IST-NAV" target="_blank" class="modal-close waves-effect waves-green btn-flat white-text">Source Code</a>
    </div>
  </div>

  <!-- Modal Structure2 to be made later -->

<h1 class="skillset">My Skills</h1>
<hr>
<div>
  <div class="animate-me">
    <i class="fab fa-angular"></i>Angular
  </div>
  <div class="animate-me">
    <i class="fab fa-angular"></i>Angular Material
  </div>
  <div class="animate-me">
    <i class="fas fa-database"></i> MongoDB
  </div>
  <div class="animate-me">
    <i class="fab fa-node"></i> NodeJS
  </div>
  <div class="animate-me">
    <i class="fab fa-etsy"></i> ExpressJS
  </div>
  <div class="animate-me">
    Mongoose
  </div>
  <div class="animate-me">
    <i class="fas fa-passport"></i> PassportJS
  </div>
  <div class="animate-me">
    <i class="fab fa-bootstrap"></i> Bootstrap
  </div>
  <div class="animate-me">
    Materialize
  </div>
  <div class="animate-me">
    <i class="fab fa-html5"></i> HTML
  </div>
  <div class="animate-me">
    <i class="fab fa-css3-alt"></i> CSS/SCSS
  </div>
  <div class="animate-me">
    <i class="fab fa-js-square"></i> JavaScript
  </div>
  <div class="animate-me">
    <i class="fas fa-dollar-sign"></i> jQuery
  </div>
  <div class="animate-me">
    TypeScript
  </div>
  <div class="animate-me">
    ES5/ES6
  </div>
  <div class="animate-me">
    <i class="fas fa-bed"></i> REST
  </div>
  <div class="animate-me">
    <i class="fab fa-git-square"></i> GIT
  </div>
  <div class="animate-me">
    <i class="fab fa-npm"></i> npm
  </div>
  <div class="animate-me">
    <i class="far fa-file-code"></i> JSON
  </div>
</div>
<br>
<hr>
<div class="section section-white">
    <h1 class="headed">Contact Me</h1>
    <a class="iconos" href="https://twitter.com/AniMohid" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a>
	<a class="iconos" href="https://www.linkedin.com/in/muhammad-mohid-2762471b9/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
	<a class="iconos" href="https://github.com/Mohid123" target="_blank"><i class="fab fa-github fa-3x"></i></a>
	<a class="iconos" href="mailto: muhammadmohid141@gmail.com"><i class="fas fa-envelope-square fa-3x"></i></a>
</div>
<br>
<br>
<div id="mapid"></div>


{{else}}

{{/if}}

<!--Libraries-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/letterizejs@2.0.1/lib/letterize.min.js"></script>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

<!--JS CODE-->
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
});

//import Letterize from "https://cdn.skypack.dev/letterizejs@2.0.0";
const test = new Letterize({
	targets: ".animate-me"
});

const animation = anime.timeline({
    targets: test.listAll,
    delay: anime.stagger(100, {
      grid: [test.list[0].length, test.list.length],
      from: "center"
  }),
    loop: true
});

animation.add({
	scale: 0.5
})
.add({
	letterSpacing: "10px"
})
.add({
    scale: 1
})
.add({
    letterSpacing: "6px"
});


var mymap = L.map('mapid').setView([33.538627, 73.066909], 10);

L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
}).addTo(mymap);

var marker = L.marker([33.538627, 73.066909]).addTo(mymap);
marker.bindPopup("<h6>Muhammad Mohid, Islamabad, Pakistan</h6>").openPopup();
	
</script>