<h3 class="ml1">
  <span class="text-wrapper">
    <span class="line line1"></span>
    <span class="letters">Web Development Projects Designed and Developed by Muhammad Mohid</span>
    <span class="line line2"></span>
  </span>
</h3>

<div class="divider"></div>
<div class="section">
	<a href="/auth/google" class="btn orange darken-2 btn-large pulse">
		<i class="fab fa-google left"></i> 
	   Log In with Google To View
    </a>
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body {
	background-color: #00897b;
}

.ml1 {
  font-weight: 500;
  font-size: 180%;
  text-shadow: 2px 2px black;
}

.ml1 .letters {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  display: inline-block;
  padding: 2% 1% 2% 1%;
  position: relative;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

.btn {
	margin-top: 5%;
	font-weight: 500;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>

var textWrapper = document.querySelector('.ml1 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml1 .letter',
    scale: [0.3,1],
    opacity: [0,1],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 600,
    delay: (el, i) => 70 * (i+1)
  }).add({
    targets: '.ml1 .line',
    scaleX: [0,1],
    opacity: [0.5,1],
    easing: "easeOutExpo",
    duration: 700,
    offset: '-=875',
    delay: (el, i, l) => 80 * (l - i)
  }).add({
    targets: '.ml1',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });
  </script>