<section class="showcase">
  <img src="/images/bg.jpg" class="responsive-img">

  <div class="overlay"></div>

  <div class="text">
    <h2 class="wel">Web Development Projects Designed and Developed by Muhammad Mohid</h2>
    <a href="/auth/google" class="btn orange darken-2 btn-large">
      <i class="fab fa-google left"></i> 
       Log In
      </a>
  </div>

</section>


<style>
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
  margin: 0;
  padding: 0;
}

body {
  width: 100%!important;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.showcase img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  position: relative;
  z-index: 10;
  color: floralwhite;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.text h2 {
  font-size: 2.2em;
  line-height: 1em;
  font-weight: 600;
  font-family: 'Caveat', sans-serif;
  width: 100%!important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
	margin-top: 5%;
	font-weight: 500;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>

var textWrapper = document.querySelector('.wel');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.wel .letter',
    opacity: [0,1],
    easing: "easeInOutQuad",
    duration: 1000,
    delay: (el, i) => 100 * (i+1)
  });
  </script>